{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto" style="z-index: -1; padding-top: 3em;">
        <h1 class="text-white" style="z-index: -1; padding-top: 3em;"><strong>Hi, I'm Alex Lu</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/GitHub-Mark.png') }}" alt="Github Logo" height="560" width="280">
                    <div class="card-body">
                    <h5 class="card-title">Tri 1 APCSP Scrum Team</h5>
                    <p class="card-text">
                        Here are the github profiles of everyone in the team:
                    </p>
                    <ul>
                        <li>Scrum Master: <a href="https://github.com/STG-7" class="btn btn-primary" style="background-color:gold; border-color:goldenrod; border-radius:10px; border-width:3px; color:orangered; font-weight:600">Shaurya Goel</a></li>
                        <br>
                        <li>DevOps: <a href="https://github.com/chewyboba10" class="btn btn-primary" style="background-color:rgb(187, 0, 255); border-color:rgb(255, 0, 242); border-radius:10px; border-width:3px; color:rgb(255, 158, 241); font-weight:600">Evan Aparri</a></li>
                        <br>
                        <li>Backend Developer: <a href="https://github.com/YLu-1258" class="btn btn-primary" style="background-color:rgb(0, 238, 255); border-color:rgb(50, 131, 245); border-radius:10px; border-width:3px; color:rgb(17, 0, 255); font-weight:600">Alex Lu</a></li>
                        <br>
                        <li>Frontend Developer 1: <a href="https://github.com/h4seeb-cmd" class="btn btn-primary" style="background-color:rgb(0, 255, 166); border-color:rgb(5, 206, 65); border-radius:10px; border-width:3px; color:rgb(2, 146, 36); font-weight:600">Haseeb Beg</a></li>
                        <br>
                        <li>Frontend Developer 2: <a href="https://github.com/Tirth-Thakkar" class="btn btn-primary" style="background-color:rgb(0, 255, 166); border-color:rgb(5, 206, 65); border-radius:10px; border-width:3px; color:rgb(2, 146, 36); font-weight:600">Tirth Thakkar</a></li>
                        <br>
                    </ul>
                    
                    </div>
                </div>
                
            </div>
            <div class="col-4" style="z-index: -1;">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/hobbies.jpg') }}" alt="Roger Federer" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My hobbies</h5>
                    <p class="card-text">
                        Some of my favorite pastimes are:
                        <ul>
                            <li> Reading Novels</li>
                            <li> Cooking food with my mom</li>
                            <li> Playing Video Games</li>
                            <li> Programming</li>
                        </ul>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4" style="z-index: -1;">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/shiba.jpg') }}" alt="Dog Pic" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Here's a free picture of a Shiba Inu</h5>
                    <p class="card-text">
                        Best dog breed you can't change my mind
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}